// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

// @import 'vuetify/dist/vuetify.min.css';

a.normal-link {
  color: -webkit-link;
  &:hover {
    text-decoration: underline;
  }
}

.text-nowrap {
  white-space: nowrap;
}

table.fixed-table {
  table-layout: fixed;
}

///
// extend v-data-table

.app-table {
  thead th {
    white-space : nowrap;
    background: #e8f5e9 !important;
  }

  .v-data-table__wrapper {
    border-top: thin solid rgba(0, 0, 0, 0.12);
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
  }

  .v-data-footer {
    margin-right: 0px !important;
  }
}

///
// scrollbar

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}
